#Turn on rewrite engines
RewriteEngine on 

#If requested file is not a real file
RewriteCond %{REQUEST_FILENAME} !/(admin|css|fonts|ico|include|js)/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

#redirect all request to index.php
RewriteRule . index.php [L]