// font
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@100;300;400;600&display=swap');

@import "../bower/vendor/foundation-sites/assets/foundation";

@import "../bower/vendor/motion-ui/src/motion-ui";
@include motion-ui-transitions;
@include motion-ui-animations;


body {
    background: red;
    font-size: 5px;
}